body{
  background-image: url('https://www.isabelaflores.com/media/catalog/product/a/l/alta-176-1.jpg'); 
  background-size: auto 166vh;
  font-family: Goudy Stout;
  height: 100vh;
}

.menu{
  background-color: white;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li{
  list-style: none;
}

a{
  color: red;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: white; 
  text-align: center;
}  

.site-subtitle{
  color: white;
  font-style: italic;
}
  